:root {
  --bg-main-color: #292e32;
  --bg-accent-color: #2d2d2d;
  --accent-color: #fc6c67;
  --text-accent-color: #ff463e;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

li {
  list-style: none;
  padding-left: 0;
}

p {
  color: var(--smokywhite);
}

label {
  color: var(--text-accent-color);
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  /* background: url('../assets/background.png') center/cover no-repeat; */
  background-color: var(--black);
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
}

.control-panel {
  padding: 28px 0;
  background: var(--bg-main-color);
}

.banner__title {
  font-family: 'Palette Mosaic', cursive;
  margin: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button {
  margin: 0.1em 0.8em; /* 중간 정렬 */
  text-align: center; /* 중간 정렬 */
  user-select: none; /* text위에 드래깅 할 수 없게 만듦 */
  padding: 1em 2em;
  text-transform: uppercase; /* 대문자로 변경 */
  font-weight: 600;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 45px;
  border-style: none;
  transition: all 0.2s ease-out;
}
.create-button:hover {
  transform: scale(1.05);
  /* transform: translateY(-4px); */
  border-radius: 0;
}

.first {
  background-color: #f3a844;
}
.second {
  background-color: #54b6db;
}
.third {
  background-color: #494e57;
  border: 1px solid #ffffff80;
}
.fourth {
  background-color: var(--accent-color);
}

.document {
  height: 100%;
  overflow-y: auto;
  color: #ffffff;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  background: var(--bg-main-color);
  text-align: center;
  font-size: 0.8rem;
  color: var(--smokywhite);
}
