:root {
  --bg-main-color: #292e32;
  --bg-accent-color: #2d2d2d;
  --accent-color: #fc6c67;
  --text-accent-color: #ff463e;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

li {
  list-style: none;
  padding-left: 0;
}

p {
  color: var(--smokywhite);
}

label {
  color: var(--text-accent-color);
}

dialog {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

input,
textarea {
  background-color: var(--text-edit-bg-color);
  color: var(--smokywhite);
  font-size: 1.5em;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  /* background: url('../assets/background.png') center/cover no-repeat; */
  background-color: var(--black);
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
}

.control-panel {
  padding: 28px 0;
  background: var(--bg-main-color);
  margin: 0;
}

.banner__title {
  font-family: 'Palette Mosaic', cursive;
  margin: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button,
.dialog__submit {
  margin: 0.1em 0.8em; /* 중간 정렬 */
  text-align: center; /* 중간 정렬 */
  user-select: none; /* text위에 드래깅 할 수 없게 만듦 */
  padding: 1em 2em;
  text-transform: uppercase; /* 대문자로 변경 */
  font-weight: 600;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 45px;
  border-style: none;
  transition: all 0.2s ease-out;
}
.create-button:hover {
  transform: scale(1.05);
  /* transform: translateY(-4px); */
  border-radius: 0;
}

.first {
  background-color: #f3a844;
}
.second {
  background-color: #54b6db;
}
.third {
  background-color: #494e57;
  border: 1px solid #ffffff80;
}
.fourth {
  background-color: var(--accent-color);
}

.document {
  height: 100%;
  overflow-y: auto;
  color: #ffffff;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--black);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--black);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--bg-main-color);
}

.footer {
  background: var(--bg-main-color);
  text-align: center;
  font-size: 0.8rem;
  color: var(--smokywhite);
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--bg-accent-color);
  /* background: var(--component-bg-gradient); */
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: var(--accent-color);
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.5em 1.5em;
}

/* PAGE ITEM */
.page-item {
  margin: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px var(--shadow-color);
  background: var(--component-bg-gradient);
}

.page-item__controls {
  padding-right: 0.5em;
}

.page-item__title {
  color: var(--text-accent-color);
}

/* -- Image & Video -- */
.video,
.image {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holer {
  flex: 60% 1 1; /* 각각 60프로를 차지하게 */
}

.video__title,
.image__title {
  flex: 40% 1 1;
  margin-left: 0.5em;
}

.video__iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.image__thumbnail {
  width: 100%;
  height: 100%;
}

/* -- Note -- */
.note {
  padding: 0.5em;
}

/* TODO */
.todo {
  padding: 0.5em;
}
.todo__list,
.todo-label {
  padding: 1em;
  color: var(--smokywhite);
}
